body {
  background-image: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}
.mainContainer {
  margin: 59px auto;
  width: 80%;
  max-width: 1600px;
  font-family: 'Montserrat', sans-serif;
  align-content: center;
}
#break{
  width: 80%;
  max-width: 1600px;
  height: 2px;
  background: #9C69E2;
  opacity: 0.2;
}
.bottomContainer {
  margin: 0px auto;
  width:80%;
  max-width: 1600px;
  font-family: 'Montserrat', sans-serif;
  align-content: center;
}
/*
///////////////////////////////////////////////////////////////////
navigation bar section
*/
.navBar {
  display : inline-block;
  width:100%
}
/*logo*/
.logo {
  display: inline-block;
}
.logoDots {
  width : 20px;
  border-radius : 20px;
  display : inline-block;
}
#firstDot {
  height : 20px;
  background-color : #9C69E2;
}
#secondDot {
  height : 35px;
  background-color : #F063B8;
}
/*menu options*/
.menuBar {
  display: inline-block;
  width: 50%;
  min-width: 450px;
}
#menu {
  display: inline-block;
  margin-left: 4%;
  font-size: 16px;
  font-weight: 500;
}
#selected {
  display: inline-block;
  margin-left: 5%;
  font-size: 16px;
  font-weight: 800;
}
/*request button*/
.requestButton {
  float: right;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgb(75 93 104 / 10%);
  border-style: none;
  border-color: #FFFFFF;
  border-radius: 50px;
  margin-right: 12%;
  padding:17px 29px;
}
.buttonContainer {
  margin: auto;
}
#buttonText {
  margin: auto 0px auto 0px;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}
#arrowContainer {
  display: inline-block;
  margin-left: 10px;
  width: 30px;
}
#arrow {
  margin: auto 2px 6px 0px;
  width: 20px;
  color: #9C69E2;
  display: inline-block;
  background-color: #9C69E2;
  border-style: none;
  height: 2px;
}
#arrowHead {
  margin: auto 0px auto -16px;
  border: solid #9C69E2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*
//////////////////////////////////////////
part 1
*/
/* headline */
.partOne {
  width: 100%;
  height: 650px
}
.partOneHeadline {
  margin-top: 130px;
  height: 464px;
}
.partOneHeadline div {
  width: 645px;
  height: auto;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #212353;
}
.partOneHeadline p {
  margin-top: 50px;
  width: 430px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}
/* learn more button */
.partOneHeadline button {
  padding: 0px;
  border: none;
  background: #9C69E2;
  border-radius: 50px;
  margin-top: 50px;
}
#learnMoreContainer {
  width: 170px;
  height: 60px;
  background: #9C69E2;
  border-radius: 50px;
}
#learnMore {
  width: 96px;
  height: 29px;
  margin: 16px 37px 15px 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
/* image */
#image1 {
  height: 468px;
  margin-bottom: -700px;
  margin-left: 400px;
}

/*
//////////////////////
part 2
*/
/* container */
.partTwo {
  margin-top: 102.8px;
  width: 1115px;
  height: 560px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}
/* image */
#image2 {
  height: 504px;
}
/* texts container */
#partTwoTexts {
  width: 525px;
  margin-top: -395px;
  margin-left: 550px;
}
#partTwoTexts div {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
}
#partTwoTexts p {
  margin-top: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

/*
/////////////////////////
features part
*/
/* headings */

.features {
  width: 1115px;
  margin-top: 100px;
}

#featuresHeading{
  margin-left: auto;
  margin-right: auto;
  width: 405px;
  height: 52px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  /* identical to box height, or 52px */
  align-items: center;
  text-align: center;
  color: #212353;
}
#featuresText{
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 50px; */
  width: 60%;
  height: 58px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  align-items: center;
  text-align: center;
  color: #4B5D68;
 }

/* generic css for all sections*/
#sectionLearnMore {
  width: 140px;
  height: 26px;
}
#sectionLearnMoreText{
  width: 110px;
  height: 26px;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  display: inline-block;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
}
#sectionArrowContainer {
  width: 20px;
  height: 14px;
  display: inline-block;
}
.sectionContainer {
  width: 442px;
  height: 358px;
  margin-top: -306px;
  margin-left: 268px;
  margin-right: -36px;
}
.sectionContainer #heading {
  width: 185px;
  height: 50px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */
  display: flex;
  align-items: center;
  color: #212353;
}
.sectionContainer p {
  width: 249px;
  height: 160px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  color: #4B5D68;
}
/* background */
.sectionBackground {
  width: 442px;
  height: 358px;
}
.section {
  display: inline-block;
  margin-right: -73px;
}

/* specifics */
#sectionFirstRow {
  width: 100%;
  margin-top: 60px;
}
#sectionSecondRow {
  width: 100%;
  margin-top: 0px;
}

/* section1 */
#image3 {
  width: 232px;
  height: 211px;
  margin-right: -130px;
  margin-bottom: 65px;
}
#shape1 {
  margin-left: -256px;
  margin-bottom: 156px;
}
#shape2 {
  margin-left: -145px;
  margin-bottom: 275px;
}
/* section2 */
#image4 {
  width: 241px;
  height: 185px;
  margin-right: -135px;
  margin-bottom: 102px;
}
#shape3 {
  margin-left: -263px;
  margin-bottom: -40px;
}
/* section3 */
#image5 {
  width: 245px;
  height: 181px;
  margin-right: -134px;
  margin-bottom: 47px;
  margin-left: -11px;
}
#shape4 {
  margin-left: -114px;
  margin-bottom: 269px;
}
/* section4 */
#image6 {
  position: absolute;
  width: 230px;
  height: 201px;
  margin-right: -118px;
  margin-top: 86px;
  margin-left: 5px;
}
#background6 {
  margin-left: 110px;
}
#shape5 {
  margin-left: -451px;
  margin-bottom: 80px;
}
#shape6 {
  margin-left: -17px;
  margin-bottom: 20px;
}

/*
/////////////////////////////////////
Testimonials
*/
.testimonials {
  width: 1065px;
  height: 610px;
  background: #9C69E2;
  border-radius: 50px;
  padding-top: 109px;
  padding-left: 93px;
  overflow: hidden;
}
#testimonialsHeading {
  width: 405px;
  height: 52px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  /* identical to box height, or 52px */
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
#cardContainer {
  width:1600px;
}
#cardContentContainer {
  margin: 60px 70px;
}
.cardContent {
  display: inline-block;
}
#name{
  width: 170px;
  height: 29px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
  margin-top: 15px;
}
#title {
  width: 101px;
  height: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #9C69E2;
  margin-bottom: 19px;
}
#description {
  width: 390px;
  height: 130px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  /* or 32px */
  color: #4B5D68;
}
#firstCard {
  width: 645px;
  height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 20px 0px rgb(70 30 125 / 30%);
  border-radius: 20px;
  margin-top: 88px;
  margin-right: 20px;
  display: inline-block;
}
#firstProfile {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  width: 80px;
  height: 80px;
}
/* slide and arrows */
.testimonialsNav {
  margin-top: 60px;
}
.slide {
  display: inline-block;
  vertical-align: top;
}
#dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #FFFFFF;
  border-radius: 50px;
  margin-right: 10px;
}
.directionArrows {
  float: right;
  margin-right: 76px;
}
#leftArrowContainer{
  display: inline-block;
  width: 45px;
}
#leftArrow {
  margin: auto 2px 6px 0px;
  width: 40px;
  color: #FFFFFF;
  display: inline-block;
  background-color: #FFFFFF;
  border-style: none;
  height: 2px;
}
#leftArrowHead {
  margin: auto -16px auto 0px;
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
#rightArrowContainer{
  display: inline-block;
  margin-left: 10px;
  width: 30px;
}
#rightArrow {
  margin: auto 2px 6px 0px;
  width: 20px;
  color: #FFFFFF;
  display: inline-block;
  background-color: #FFFFFF;
  border-style: none;
  height: 2px;
}
#rightArrowHead {
  margin: auto 0px auto -16px;
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*
////////////////////////////////////
ending
*/
.ending {
  margin-top:100px;
}
#endingTextsContainer {
  display: inline-block;
}
#endingHeading {
  height: 52px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  /* identical to box height, or 52px */
  display: flex;
  align-items: center;
  color: #212353;
}
#endingText {
  margin-top: 20px;
  height: 29px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  color: #4B5D68;
}
#endingButtonsContainer {
  float: left;
  margin-left: 20%;
}

#endingLearnMoreContainer {
  position: absolute;
  width: 170px;
  height: 60px;
  margin-left: 185px;
  background: #F063B8;
  border-radius: 50px;
}
#endingLearnMore {
  width:115px;
  height: 29px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin: 16px auto;
}
#endingRequestButton {
  position:absolute;
  margin-left: 385px;
  height: 60px;
  width: 210px;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-style: none;
  border-color: #FFFFFF;
  border-radius: 50px;
}

/*
//////////////////////////////////////////
footers
 */
.footers {
  margin-top: 153px;
}
.footersCols {
  display: inline-block;
  vertical-align: top;
  margin-right: 3%;
}
#firstRow {
  width: 51.75px;
  height: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  color: #212353;
  vertical-align: top;
}
#secondRow {
  margin-top: 35px;
}
#otherRows {
  margin-top: 25px;
}
#firstCol {
  margin-right: 5%;
}
#firstCol #firstRow {
  display: inline-block;
  height: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */
  color: #212353;
  margin-left: 20px;
  margin-bottom: 67px;
}
.footersLogo{
  display: inline-block;
}
#fourthCol #firstRow {
  width: 170px;
}
#footersAddress {
  height: 65px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  letter-spacing: 0.01em;
  color: #212353;
  margin-bottom: 10px;
}
#footersContact {
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  letter-spacing: 0.01em;
  color: #212353;
}
#footersCirclesContainer {
  margin-top: 20px;
}
#footersCircles {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #212353;
  opacity: 0.1;
  border-radius: 50px;
  margin-right: 15px;
}
#section1, #section3{
  float: left;
}
#section2, #section4{
  float: right;
  margin-left: -90px;
  margin-right: -170px;
}
#section2 {
  margin-top: 30px;
}
/*
/////////////////////////////////////////////
css for iPads
*/
@media only screen and (max-width:1024px) {
  .mainContainer {
    padding: 15px;
    width: 100%;
    overflow: hidden;
  }
  #menu, #selected {
    font-size: 26px;
  }
  .requestButton {

  }
  .partOneHeadline {
    margin-top: 30px;
  }
  .partOneHeadline p, #partTwoTexts p, #featuresText {
    font-size: 24px;
  }
  .partOneHeadline button {
    margin-top: 0px;
  }
  #image1{
    margin: 0px 0px -600px 150px;
    height:380px
  }
  #image2{
    height: 45%;
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    margin-left: -20px;
  }
  .partTwo {
    width: 100%;
  }
  #partTwoTexts {
    margin-top: 0px;
    margin-left: 0px;
    width:62%;
    padding-top:20px;
    display: inline-block;
  }
  .features {
    margin-top: 100px;
    width:100%;
  }
  .section {
    margin-right: -160px;
    vertical-align: top;
  }
  #sectionFirstRow {
    margin-top:100px;
  }
  .sectionContainer {
    margin-top: -335px;
    margin-left: 72px;
    margin-right: 0px;
  }
  .sectionContainer #heading {
    font-size: 31px;
    width: auto;
  }
  .sectionContainer p {
    font-size: 21px;
    width: 355px;
    height: 190px;
  }
  #image3{
    margin-right: 0;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: -70px;
  }
  #image4, #image5 {
    margin-right: 0;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: -13px;
  }
  #image6 {
    position: relative;
    margin: 35px -25px -35px;
  }
  #background6 {
    margin-left: -110px;
  }
  #section1, #section3{
    float: left;
  }
  #section2, #section4{
    float: right;
  }
  #section2 {
    margin-right: -320px;
    /* margin-top:0px; */
  }
  #sectionFourContainer {
    margin-left: -39px
  }
  .testimonials {
    width: 88%;
  }
  #break {
    width: 100%;
  }
  .bottomContainer {
    margin: 0px;
    padding: 15px;
    width:100%;
  }
  #endingButtonsContainer {
    margin-left: -20%;
    margin-top: 5%;
    float: none;
  }
}
/*
/////////////////////////////////////////////
css for mobile
*/
@media only screen and (max-width:414px) {
  .navBar {
    display: none;
  }
  .partOneHeadline #text {
    width: 90%;
    font-size: 55px;
  }
  .partOneHeadline p {
    margin-top: 20px;
    width: 90%;
  }
  .partTwo {
    margin-top: 100px;
    height: auto;
  }
  #partTwoTexts {
    width: 95%;
    padding: 20px 15px;
  }
  #partTwoTexts div {
    font-size: 42px;;
  }
  #image2 {
    margin-top: 0px;
    width: 100%;
    height: 45%;
  }
  #featuresText {
    height: auto;
    width: 90%;
  }
  .footers {
    display: none;
  }
  #endingButtonsContainer {
    margin-left: 0px;
    margin-bottom: 115px;
  }
  #endingLearnMoreContainer {
    margin-left: 0px;
    width: 140px;
    height: 40px;
  }
  #endingLearnMore {
    font-size: 18px;
    margin: 8px auto;
  }
  #endingRequestButton {
    border: sollid black 1px;
    height: 40px;
    margin-left:145px;
    width:175px
  }
}